name: Deploy to server
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}

      - name: Deploy to instance
        uses: appleboy/ssh-action@v1.2.0
        env:
          TARGET_DIR: ${{ secrets.TARGET_DIR }} 
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script_path: scripts/deploy.sh
          envs: TARGET_DIR
            
